main{
    display: flex;
    text-align: center;
}

.profileWrap{
    text-align: center;
    background-color: cadetblue;
    width: 700px;
    
}

#userID{
    color: gray;
}

.userIcon{
    border-radius: 100%;
    width: 40px;
}